HW3/cs231n/datasets/
HW3-20240205T025708Z-001/
HW3.zip
.idea/

*.pyc

HW4-20240215T235543Z-001.zip
HW5/test.ipynb
HW5/2
HW5 - part1/
HW5-20240225T211814Z-001.zip
HW5 - part1.zip
hw4/hw4_fcn_pytorch/hw4_submission/LICENSE
hw4/hw4_fcn_pytorch/hw4_submission/setup.py
hw4/hw4_fcn_pytorch/hw4_submission/cli/interact.py
hw4/hw4_fcn_pytorch/hw4_submission/cli/train.py
hw4/hw4_fcn_pytorch/hw4_submission/nn_classifier/__init__.py
hw4/hw4_fcn_pytorch/hw4_submission/nn_classifier/data_utils.py
hw4/hw4_fcn_pytorch/hw4_submission/nn_classifier/modelling.py
hw4/hw4_fcn_pytorch/hw4_submission/nn_classifier/utils.py
hw4/hw4_fcn_pytorch/hw4_submission/tests/test_data_utils.py
hw4/hw4_fcn_pytorch/hw4_submission/tests/test_modelling.py
hw4/hw4_fcn_pytorch/hw4_submission/tests/test_utils.py
HW5/notebooks/tiny_shakespeare.txt
HW5/03_traininig.ipynb - Colaboratory.pdf
hw6/hw6_transformer_mt/transformer_mt.egg-info/dependency_links.txt
hw6/hw6_transformer_mt/transformer_mt.egg-info/PKG-INFO
hw6/hw6_transformer_mt/transformer_mt.egg-info/requires.txt
hw6/hw6_transformer_mt/transformer_mt.egg-info/top_level.txt
hw6/hw6_transformer_mt/transformer_mt.egg-info/SOURCES.txt
